asyncio  
bcrypt  
chromadb  
docx2txt  
elevenlabs  
fastapi  
langchain  
matplotlib  
msoffcrypto-tool  
olefile  
openai  
pandas  
plotly  
pyjwt  
pymongo  
pypdfium2  
pydantic  
pydub  
pytest  
python-docx  
python-jose[cryptography]  
python-magic  
python-multipart  
python-dotenv  
requests  
robotexclusionrulesparser  
seaborn  
slowapi  
SpeechRecognition  
tabulate  
uvicorn  
wave  
youtube-transcript-api  
fastapi[standard]
